<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% seo %}
  </head>
  <body>
    <a href="{{ site.url }}"><img src="banner.png"/></a>

    <div id="main">
    {{ content }}
    </div>

    <p>
    When you're done coding, take a screenshot and
    <a href="https://forms.gle/UhuAEdZD9SnaWP138" target="_blank">submit your image here</a>.
    </p>
    <p>
    If you made a fun animation, email your code to Dr. Kessner and we'll add it
    to this site.
    </p>

  </body>
</html>
